.header {
    background: blue;
}
.header1 {
    background: blue;
    text-align: end;
}
.a {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.b {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}
.d {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.f {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}
.h {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.i {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}
.l {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.n {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}
.aa {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.bb {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}
.dd {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.ff {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}
.hh {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.ii {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}
.ll {
    margin-left: 600px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 300px;
}
.nn {
    margin-right: 300px;
    margin-bottom: 50px;
    display:inline-block ;
    width: 10px;
}